<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title> College Lacrosse Blog </title>
</head>

<body>


    <div class="nav-container">
        <div class="navbar">
            <div class="logo">
                <h1> Dan's Blog </h1>
            </div>

            {% if user.is_authenticated %}
                <div class="middle">
                    <ul>
                        <li> <a href="{% url 'home_view' %}"> Home </a> </li>
                        <li> <a href="#"> Schedule </a> </li>
                        <li> <a href="{% url 'posts' %}"> Posts </a> </li>
                        <li> <a href="#"> Contact </a> </li>

                    </ul>
                </div>

                <div class="right">
                    <ul>
                        <li> <a href="{% url 'profile' %}"> Profile </a> </li>
                        <li> <a href="{% url 'logout' %}"> Logout </a> </li>
                    </ul>
                </div>



            {% else %}
                <div class="middle">
                    <ul>
                        <li> <a href="{% url 'home_view' %}"> Home </a> </li>
                        <li> <a href="#"> Schedule </a> </li>
                        <li> <a href="#"> Contact </a> </li>

                    </ul>
                </div>

                <div class="right">
                    <ul>
                        <li> <a href="{% url 'login' %}"> Login </a> </li>
                        <li> <a href="{% url 'sign-up' %}"> Sign Up </a> </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert_login">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock content %}



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</htm>